@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #d1fae5, #a7f3d0, #6ee7b7);
  background-attachment: fixed;
}

#root {
  min-height: 100vh;
}
